/* common shared style */
/* . *{
    margin: 0;
    padding: 0;
} */
body{
    font-family: 'Open Sans', sans-serif;
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    font-size: 20px;
    font-weight: 700px;
    color: white;
    padding: 18px 35px;
    cursor: pointer;

}
.btn-primary:hover{
    background-color: gray;
}
/* header style */
header{
    background: #FFF8F3;
}
/* nav related style */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin: 0px 50px; */
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
    cursor: pointer;
}
.primary-text{
    color: #FD6E0A;
}
nav ul{
    display: flex;
    align-items: center;
    

}
nav li{
    list-style:none;
    margin-right: 50px;
}
nav a{
    color: #474747;
    text-decoration: none;
}
nav a:hover{
    color: blue;
}
/* banner related style */
.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.banner-photo{
    width: 584px;
    height: 676px;
    flex-shrink: 0;
}